
@{
    ViewBag.Title = "Home Page";
}
@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index1</h2>

<section class="padding-bottom">
    <div class="card card-deal">
        <!--<div class="col-heading content-body">
            <header class="section-heading">
                <h3 class="section-title">Giảm Giá Sốc</h3>
                <p>Hygiene equipments</p>
            </header>--><!-- sect-heading -->
            <!--<div class="timer">
                <div> <span class="num">16</span> <small>Days</small></div>
                <div> <span class="num">10</span> <small>Hours</small></div>
                <div> <span class="num">20</span> <small>Min</small></div>
                <div> <span class="num">02</span> <small>Sec</small></div>
            </div>
        </div>--> <!-- col.// -->
        <div class="row no-gutters items-wrap">
            <a href="~/Product/Index" class="btn btn-primary">Sách</a>
            <a href="~/LoaiSach/Index" class="btn btn-primary">Loại sách</a>
            <a href="~/NgonNgu/Index" class="btn btn-primary">Ngôn ngữ</a>
            <a href="~/NhaXuatBan/Index" class="btn btn-primary">Nhà xuất bản</a>
            <a href="~/TacGia/Index" class="btn btn-primary">Tác giả</a>
            <a href="~/NhanVien/Index" class="btn btn-primary">Nhân Viên</a>
            @*<a href="~/Product/Index" class="btn btn-primary">Sách</a>
            <a href="~/Product/Index" class="btn btn-primary">Sách</a>
            <a href="~/Product/Index" class="btn btn-primary">Sách</a>
            <a href="~/Product/Index" class="btn btn-primary">Sách</a>
            <a href="~/Product/Index" class="btn btn-primary">Sách</a>
            <a href="~/Product/Index" class="btn btn-primary">Sách</a>
            <a href="~/Product/Index" class="btn btn-primary">Sách</a>
            <a href="~/Product/Index" class="btn btn-primary">Sách</a>*@


          
        </div>
    </div>

</section>